// Font imports
@font-face {
    font-family: "Poppins-Black";
    src: url("../build/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../build/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("../build/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

// HTML tags styling
* {
    padding: 0;
    margin: 0;
    user-select: none; //the user can't copy the text
    overflow: hidden;
    text-decoration: none;
}

// App
.modelView {
    z-index: 0;
    position: absolute;
    display: block;
    background-color: #000;
    height: 100%;
    width: 100%;

    &__canvas {
        height: 100%;
        width: 100%;
    }
}

.content__load {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #808080;
    z-index: 999;
    transition: all 1s ease;

    &__text {
        padding: 2vh;
        font-family: "Poppins-Medium", sans-serif;
        font-size: calc(1.5vh + 1.5vw);
        color: rgb(0, 0, 0);
    }

    &__indicator {
        width: calc(5vw + 5vh);
        height: calc(5vw + 5vh);
        background-color: #000000;
        animation: loading 1s infinite;
    }

    &__finished {
        opacity: 0%;
        position: absolute;
        display: flex;
        background-color: #000000;
        z-index: 0;
    }
}

.button {
    padding: 2vh;
    z-index: 997;
    position: relative;
    float: right;
    align-items: center;
    justify-content: center;
    
    &__container {
        width: calc(6vh + 6vw);
        height: calc(6vh + 6vw);
        display: flex;
        align-items: center;
        justify-content: center;
        

        &__xr {
            background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.3);
            border: none;
            color: #000000;
            margin: 0px;
            font-family: "Poppins-Black", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff23;
            backdrop-filter: blur(10px);
        }

        &__xr > img {
            padding: calc(1vh + 2vw);
        }
    }
}

.info {
    padding: 2vh;
    z-index: 997;
    position: absolute;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    
    &__container {
        border: none;
        width: calc(6vh + 6vw);
        height: calc(6vh + 6vw);
        background-color: #ffffff23;
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 0.1s;

        &--active {
            width: calc(100vw - 4vh);
            transition: width 0.1s;
        }

        &__image {
            display: block;
            border: none;
            color: #000000;
            margin: 0px;
            font-family: "Poppins-Black", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: calc(1vh + 2vw);

            &--active {
                display: none;
            }
        }

        &__text {
            text-align: left;
            padding: calc(0.3vh + 0.3vw);
            font-size: calc(0.6vh + 0.6vw);
            font-family: "Poppins-Medium", sans-serif;
            color: #000000;
            display: none;

            &--active {
                display: block;
            }
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    5% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, 180deg);
    }
    55% {
        transform: rotate3d(1, 0, 0, 180deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 180deg);
    }
}